@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: rgb(42, 37, 37);
    font-family: 'Atkinson Hyperlegible Next', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    color: whitesmoke;
}

#stop-watch-spans{
    height: 150px;
    width: 300px;
    color: whitesmoke;
    background-color: rgb(78, 83, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

#stop-watch-spans:hover{
    filter: drop-shadow(0.5px 0.5px 1px rgb(200, 193, 193));
    transition: 0.5s ease-in-out;
}

span{
    height: 3.1rem;
    width: 3.1rem;
    display: inline-block;
    margin:10px;
    text-align: center;
    background-color: rgb(46, 35, 35);
    font-size: 2rem;
}

button{
    padding:5px 20px;
    background-color: rgb(65, 86, 21);
    color: whitesmoke;
    border: none;
    font-size: 1rem;
    border-radius: 2px;
    margin: 10px;
}
button:hover{
    filter: drop-shadow(0.1px 0.1px 1px white);
    font-weight: bold;
    transition: 0.5s ease-in-out;
}